---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.jsx';
import AboutMe from '../components/AboutMe.jsx';
import Work from '../components/Portfolio';
import Skills from '../components/Skills.jsx';
import Experience from '../components/Experience.jsx';
import Contact from '../components/Contact.jsx';
---

<Layout title="Portafolio">
	<Header/>
	<div class="mt-20 px-24">
		<Home client:visible/>
	</div>
	<div class="mt-20 px-24">
		<AboutMe client:visible/>
	</div>
	<div class="mt-20 px-24">
		<Work client:visible/>
	</div>
	<div class="mt-20 px-24">
		<Skills client:visible/>
	</div>
	<div class="mt-20 px-24">
		<Experience client:visible/>
	</div>
	<div class="mt-20 px-24">
		<Contact client:visible/>
	</div>
</Layout>
