<div class="w-full flex justify-center fixed bottom-1 lg:hidden">
    <div id="tab_bar" class="w-[90%] rounded-lg h-16 bg-primary shadow-md flex space-x-8 items-center justify-center">
        <a href="#home">
            <i class="fa-solid fa-house text-secondary text-2xl cursor-pointer" />
        </a>
        <a href="#projects">
            <i class="fa-solid fa-briefcase text-secondary text-2xl cursor-pointer" />
        </a>
        <a href="#skills">
            <i class="fa-solid fa-gear text-secondary text-2xl cursor-pointer" />
        </a>
        <a href="#contact">
            <i class="fa-solid fa-phone text-secondary text-2xl cursor-pointer" />
        </a>
    </div>
</div>