<header class="w-full h-14 bg-secondary rounded-lg flex flex-row items-center justify-between pr-10 pl-10">
    <div class="text-base font-semibold cursor-pointer">
        Logo
    </div>
    <ul class="flex flex-row space-x-5">
        <li class="text-base font-bold cursor-pointer">Inicio</li>
        <li class="text-base font-semibold cursor-pointer">Sobre mi</li>
        <li class="text-base font-semibold cursor-pointer">Proyectos</li>
        <li class="text-base font-semibold cursor-pointerr">Habilidades</li>
        <li class="text-base font-semibold cursor-pointer">Contacto</li>
    </ul>
</header>