<header id="header" class="w-full h-14 hidden bg-secondary lg:flex flex-row items-center justify-between pr-10 pl-10 z-10 lg:rounded-lg">
    <div class="text-base font-semibold cursor-pointer">
        Logos
    </div>
    <ul class="lg flex-row space-x-5 lg:flex">
        <a href="#home" class="text-base font-bold cursor-pointer">Inicio</a>
        <a href="#about" class="text-base font-semibold cursor-pointer">Sobre mi</a>
        <a href="#projects" class="text-base font-semibold cursor-pointer">Proyectos</a>
        <a href="#skills" class="text-base font-semibold cursor-pointerr">Habilidades</a>
        <a href="#experience" class="text-base font-semibold cursor-pointerr">Experiencia</a>
        <a href="#contact" class="text-base font-semibold cursor-pointer">Contacto</a>
    </ul>
</header>